extends base

block content
    body
        <div class="pageWrapper">
            <header class="pageHeader">
                <div class="navbarBrand">
                    <div class="navbarBrand__logo">
                        <a href="/">
                            <img src="/src/img/orange_logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="navbarBrand__name navbarBrand__name--collapsed">

                        <img src="/src/img/superfuel_brand_orange.png" alt="brand">
                    </div>
                </div>
                <div class="navbarToggleBtn" id="navbarToggleBtn">
                    <div class="hamburger" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <ul class="navbarUserMenu">
                    <li>
                        <div class="dropdownToggle navbarUserMenu__notification">
                            <i class="far fa-bell"></i>
                            <span class="navbarUserMenu__notificationBadge">0</span>
                        </div>
                        <div class="dropdownMenu notifications">
                            <div class="notifications__header">
                                <span>Notifications</span>
                                <a id="clearNotificationBtn">Clear All</a>
                            </div>
                            <ul class="notifications__list">
                                <li class="notifications__list--message">
                                    <a href="/activities">
                                        <div class="notificationContent">
                                            <span class="notificationContent__avatar ">
                                                <img src="/src/img/user_profile.jpg" alt="avatar">
                                            </span>
                                            <div class="notificationContent__body">
                                                <p class="notificationContent__details">
                                                    <span> Barbara Moore </span>
                                                    <span>paid the invoice</span>
                                                    <span>#ABC123456789</span>
                                                </p>
                                                <p class="notificationContent__time">
                                                    <span>10 minutes ago</span>
                                                </p>
                                            </div>
                                        </div>

                                    </a>
                                </li>
                                <li class="notifications__list--message">
                                    <a href="/activities">
                                        <div class="notificationContent">
                                            <span class="notificationContent__avatar ">
                                                <img src="/src/img/user_profile.jpg" alt="avatar">
                                            </span>
                                            <div class="notificationContent__body">
                                                <p class="notificationContent__details">
                                                    <span> New User </span>
                                                    <span>Registered</span>
                                                    <span></span>
                                                </p>
                                                <p class="notificationContent__time">
                                                    <span>1 minute ago</span>
                                                </p>
                                            </div>
                                        </div>

                                    </a>
                                </li>
                            </ul>
                            <div class="notifications__footer">
                                <a href="/activities">
                                    View all Notifications
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdownToggle navbarUserMenu__userProfile">
                            <img class="userProfileImage" src="/src/img/user_profile.jpg" alt="user_profile_image">
                            <span>User Name</span>
                            <i class="fas fa-chevron-down dropdownToggle__button"></i>
                        </div>
                        <div class="dropdownMenu userControl">
                            <a href="/src/pages/profile.html" class="dropdownMenu__links" title="profile"
                                data-page="profile">
                                <i class="fas fa-id-badge"></i>
                                <span>Profile</span>
                            </a>
                            <a href="/src/pages/settings.html" class="dropdownMenu__links" title="settings"
                                data-page="settings">
                                <i class="fas fa-cog"></i>
                                <span>Settings</span>
                            </a>
                            <a class="dropdownMenu__links" href="/signout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Sign out</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </header>
            <div class="pageContent">
                <div class="sidebar ">
                    <ul class="sidebarMenu sidebarMenu--collapsed">
                        <li class=" sidebarMenu__items sidebarMenu__items--title">
                            <span>Main</span>
                        </li>
                        <li class="sidebarMenu__items">
                            <a href="/src/pages/dashboard.html" title="dashboard" data-page="dashboard">
                                <i class="far fa-chart-bar"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebarMenu__items">
                            <a href="/src/pages/customers.html" title="customers" data-page="customers">
                                <i class="fas fa-user-friends"></i>
                                <span>Customers</span>
                            </a>
                        </li>
                        <li class="sidebarMenu__items">
                            <a href="/src/pages/quotes.html" title="quotes" data-page="quotes">
                                <i class="fas fa-file-alt"></i>
                                <span>Quotes</span>
                            </a>
                        </li>
                        <li class="sidebarMenu__items">
                            <a href="/src/pages/invoices.html" title="invoices" data-page="invoices">
                                <i class="fas fa-file-invoice-dollar"></i>
                                <span>Invoices</span>
                            </a>
                        </li>

                        <li class="sidebarMenu__items">
                            <a href="/src/pages/payments.html" title="payments" data-page="payments">
                                <i class="far fa-credit-card"></i>
                                <span>Payments</span>
                            </a>
                        </li>
                        <li class="sidebarMenu__items">
                            <a href="/src/pages/users.html" title="users" data-page="users">
                                <i class="fas fa-user"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="sidebarMenu__items sidebarMenu__items--title">
                            <span>Personals</span>
                        </li>
                        <li class="sidebarMenu__items">
                            <a href="/src/pages/profile.html" title="profile" data-page="profile">
                                <i class="fas fa-id-badge"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="sidebarMenu__items">
                            <a href="/src/pages/settings.html" title="settings" data-page="settings">
                                <i class="fas fa-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="content content--active" id="settings">
                    <div class="contentHeader">
                        <div class="contentHeader__title">
                            <span>Settings</span>
                            <div class="contentHeader__breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb__item">
                                        <a href="/src/pages/dashboard.html">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb__item breadcrumb__item--active">
                                        <p>Profile Settings</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accountSettings">
                        <div class="accountSettings__menu">
                            <ul>
                                <li class="accountSettings__menuItem">
                                    <a href="/src/pages/settings.html">
                                        <i class="fas fa-user-cog"></i>
                                        Profile Information
                                    </a>
                                </li>
                                <li class="accountSettings__menuItem accountSettings__menuItem--active ">
                                    <a href="/src/pages/change_password.html">
                                        <i class="fas fa-unlock-alt"></i>
                                        Change Password
                                    </a>
                                </li>
                                <li class="accountSettings__menuItem">
                                    <a href="/src/pages/delete_account.html">
                                        <i class="fas fa-ban"></i>
                                        Delete Account
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="accountSettings__component">
                            <div class="accountSettings__componentHeader">
                                <span>
                                    Change Password
                                </span>
                            </div>
                            <form class="changePassword__Form">
                                <div class="changePassword__FormItem">
                                    <label for="currentUserPassword">Current Password</label>
                                    <input placeholder="Enter Current Password" type="password" name="currentUserPassword"
                                        id="currentUserPassword">
                                </div>
                                <div class="changePassword__FormItem">
                                    <label for="newUserPassword">New Password</label>
                                    <input placeholder="Enter New Password" type="password" name="newUserPassword"
                                        id="newUserPassword">
                                </div>
                                <div class="changePassword__FormItem">
                                    <label for="newUserPasswordConfirm">New Password Confirm</label>
                                    <input placeholder="Confirm Your New Password" type="password"
                                        name="newUserPasswordConfirm" id="newUserPasswordConfirm">

                                </div>
                                <div class="changePassword__FormItem">
                                    <h3>Password requirements:</h3>
                                    <div class="changePassword__requirement">
                                        <span class="changePassword__requirementCriteria">
                                            <i class="fas fa-times-circle"></i>
                                            <p>The password is at least 8 characters long</p>
                                        </span>
                                        <span class="changePassword__requirementCriteria">
                                            <i class="fas fa-times-circle"></i>
                                            <p>The password has at least one uppercase letter</p>
                                        </span>
                                        <span class="changePassword__requirementCriteria">
                                            <i class="fas fa-times-circle"></i>
                                            <p>The password has at least one lowercase letter</p>
                                        </span>
                                        <span class="changePassword__requirementCriteria">
                                            <i class="fas fa-times-circle"></i>
                                            <p>The password has at least one digit</p>
                                        </span>
                                        <span class="changePassword__requirementCriteria">
                                            <i class="fas fa-times-circle"></i>
                                            <p>The password has at least one special character</p>
                                        </span>
                                        <span class="changePassword__requirementCriteria">
                                            <i class="fas fa-times-circle"></i>
                                            <p>The password has no blank spaces</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="accountSettings__FormGroup">
                                    <button
                                        class="accountSettings__FormGroupSubmitButton changePassword__FormItemSubmitButton"
                                        type="submit" id="updateNewPassword">Save Changes